{{ config.template_footer|safe }}

    <footer class="footer">
		<div class="footer-container">
<hr />
<ul style="padding-left: 0; list-style: none; text-align:center; margin:10px;">
  <li style="display: inline; margin:20px;"><img class="img-responsive nsflogo" src="https://www.designsafe-ci.org/static/images/nsf.e1eb6e1816a0.jpg"></li>
  <li style="display: inline; margin:20px;"><img class="img-responsive logo" src="https://www.designsafe-ci.org/static/images/UT-logo.a2839b8aed90.jpg"></li>
  <li style="display: inline; margin:20px;"><img class="img-responsive logo" src="https://www.designsafe-ci.org/static/images/TACC-Logo.ce31824c01e4.jpg"></li>
  <li style="display: inline; margin:20px;"><img class="img-responsive logo" src="https://www.designsafe-ci.org/static/images/Rice-Logo.2e0eec740466.jpg"></li>
  <li style="display: inline; margin:20px;"><img class="img-responsive logo" src="https://www.designsafe-ci.org/static/images/Florida-logo.c1487c93ac62.png"></li>
</ul>
<p style="font-size:14px; font-family: Helvetica, Arial, sans-serif; text-align:center;">
  DesignSafe-CI is supported by a grant from the National Science Foundation
  (<a target="_blank" href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1520817">#1520817</a>).
</p>
		</div>
	</footer>